<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Spring Demo VueJS</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=0" />

    <script type="text/javascript">
        Object.defineProperty(window, 'state', {
            enumerable: false,
            configurable: false,
            writable: false,
            value: {
                id: "${state.id}",
                name: "${state.name}",
                origin: "${state.origin}"
                // ,${_csrf.parameterName}: "${_csrf.token}"
            }
        });
        Object.freeze(window.state);
    </script>
</head>
<body>
<div id="app"></div>
<script src="${entryJS}"></script>
</body>
</html>